@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import "mixins"
@import "queries"

separator = 25px

body
  font-family: 'MuseoModerno', cursive;
  responsive-bg "../../img/bg.jpg"
  min-height 100vh
  width 100%
  overflow-x hidden
  position relative
  padding 0
  margin 0
  color #FCFEF5

a
  color #FCFEF5
  display block

h1
  font-size 64px

  +tablet()
    font-size 48px
  +mobile()
    font-size 34px

.form-action 
  width 100%

  +mobile()
    width calc(100% - 50px)

.button
  display flex
  justify-content center
  align-items center
  transition all 1s
  width 150px
  height 30px
  border solid 0.5px #000
  background-color #fff
  color #000
  font-size 14px
  margin 0 auto
  margin-bottom separator

  +mobile()
    width 100%

  &:hover
    background-color #000
    color #fff

label
  display block

form
  display flex
  justify-content center
  align-items center
  flex-direction column

.field
  margin-top separator
  margin-bottom separator
  width 40%
  font-size 18px

  +mobile()
    width calc(100% - 50px)

  input
    font-size 18px


  textarea
    width 100%

input
  width 100%
  border 0
  border-bottom 1px solid #000
  outline none

input[type="checkbox"]
  padding 0
  margin separator
  width initial

.error
  margin-top 12.5px
  span
    color rgb(237,71,71)

.dropbox-container
  width 40%

  +mobile()
    width calc(100% - 50px)

.status-message
  display flex
  width 100%
  height 100vh
  justify-content center
  align-items center
  font-size 36px

  p
    text-align center
    width 60%

.text-center
  text-align center

.about
  width 50%
  margin 0 auto
  margin-bottom separator

  +mobile()
    width calc(100% - 50px)

.main-wrapper
  width 100%
  height 100%
  position absolute
  top 0
  left 0

.transparent-layer
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0,0,0,0.6)
  z-index -1

.content-wrapper
  z-index 1
